body
{text-align:center;
 background-image:url("http://www.arcor.com/images/uploads/marcasGlobales-arcor02.jpg");
 background-repeat:no-repeat; }



 form
 {  background-image:url("fondoDeFormulario.jpg");
  }